@{
    ViewBag.Title = "Home Page";
}



<div class="container" id="jumbo">
    <div class="jumbotron">
        <!--Used the following: https://css3gen.com/text-shadow/ -->
        <h1 style="text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);">N<i class="far fa-compass" style="font-size:45px"></i>rthwind</h1>
        <p>
            Best price and high quality guaranteed!<br />
            Check out our featured discounts below!
        </p>
        <input type="submit" class="btn btn-primary" value="Place Your Order >>" onclick="window.location='https://midtermcart.azurewebsites.net/Home/DisplayProduct'" />
    </div>

    <!--Grid System-->
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-3">
                <h3>Tis the Seasoning</h3>
                <hr />
                <p>Order today to save 25% on Chef Anton's Italian seassoning. You don't want to make Chef's mad, do you? </p>
                <br />
                <p><i>Discount Expires: 12/12/2018</i></p>
                <a href="#" class="fas fa-hand-point-right"> Discount Code</a>
            </div>

            <div class="col-md-4 col-md-3 col-sm-3 ">
                <h3>Go Green</h3>
                <hr />
                <p>Get 15% off your next purchase when you Opt Out from you monthly statements!</p>
                <br />
                <p><i>Discount Expires: 12/12/2018</i></p>
                <a href="#" class="fas fa-hand-point-right"> Discount Code</a>
            </div>

            <div class="col-md-4 col-md-3 col-sm-3">
                <h3>Half Price </h3>
                <hr />
                <p>This month only! Our special iteam will be 50% off. Do not miss it!</p>
                <br />
                <p><i>Discount Expires: 12/12/2018</i></p>
                <a href="#" class="fas fa-hand-point-right"> Discount Code</a>
            </div>
        </div>
    </div>
</div>

<!--<nav class="navbar navbar-inverse navbar-fixed-bottom na">
    <div class="container">
        <p class="navbar-text">MVC<span class="glyphicon glyphicon-apple"></span></p>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-area">Sing In</button>


        <button type="button" class="btn btn-danger">Sing Up</button>
        <button type="button" class="btn arrow">TEST!</button>
    </div>
</nav>-->
